.hide_unhide_pass {
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.w-100 {
    width: 100% !important;
}

.midle-center {
    vertical-align: center !important;
    text-align: center;
}

.style_icon_remove,
.style_icon_remove_image {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    cursor: pointer;
}

.modal-lg {
    max-width: 850px !important;
}

.modal-body {
    padding: 0 !important;
}