
.container-fluid {
    padding: 0 !important;
}
.post-relate li{
    list-style: none;
}
.t-card-tintuc-home .t-bao-anhbia{
    display: flex;
    justify-content: center;
}
.t-card-sanpham {
    align-items: center;
}
.t-card-tintuc-home img, .t-card-sanpham-home img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.t-card-daily .card-img, .t-card-danhmuctin .card-img {
    max-height: none;
}
.box-detail-news h1{
    font-size: 26px;
    font-weight: bold;
}
.t-bao-title-danhsachdaily h3 {
    font-size: 25px;
}
.t-bao-anh-slide {
    width: 100%;
    height: 250px;
    display: flex;
}
.t-anh-slide {
    height: 250px;
}
.t-bao-content-home p{
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.t-bao-content-home h5 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
}