@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    color: #000000;
}

.t-bg-mainnav {
    background: #E8EEEF;
}

.t-navbar-collapse {
    flex-grow: inherit;
    height: 100%;
}

.t-navbar-expand-lg {
    justify-content: flex-end;
}

.t-head .navbar {
    padding: 0;
    height: 100%;
}

.t-head .row {
    align-self: center;
    min-height: 75px;
}

.t-head .nav-link {
    font-weight: bold;
    display: block;
}

.t-head .nav-item {
    padding: 15px;
}

.t-head .nav-item:hover {
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #c5c5c5;
}

.t-head .nav-item:hover>.nav-link {
    color: #5AAFB6 !important;
    font-weight: bold;
    font-size: 18px !important;
}

.t-head .nav-item:hover .nav-link {
    color: #51AAB2;
}

.t-head .navbar-nav {
    height: 100%;
}

.t-video .title {
    font-weight: bold;
    text-transform: uppercase;
}

.t-footer {
    color: #fff;
}

.t-footer .row {
    background-color: #082B4C;
    padding-top: 20px;
}

.t-text-footer {
    color: #fff;
}

.t-text-footer:hover {
    color: #51AAB2;
    text-decoration: none;
}

.t-sanpham .t-list-danhmuc-sanpham li {
    list-style: none;
    padding: 0 10px;
}

.t-sanpham .t-list-danhmuc-sanpham li a {
    list-style: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #505e6d;
}

.t-sanpham .t-list-danhmuc-sanpham li:hover a {
    text-decoration: none;
    color: #fff;
    background-color: #50AAB2;
}

.t-list-danhmuc-sanpham .nav-link.active {
    background-color: #50AAB2;
}

.t-bao-title {
    margin: 10px 0;
    border-bottom: 1px solid #50aab2;
    padding-bottom: 1px;
}

.t-head-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    background-color: #50aab2;
    padding: 5px;
}

.t-card-sanpham {
    margin-bottom: 10px;
}

.t-card-sanpham h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.t-card-sanpham .card-body {
    padding: 1rem;
    background: #E8EEEF;
    color: #062a4d;
}

.t-btn-chrimson {
    color: #062a4d;
    background-color: #d0df56;
    border-color: #d0df56;
}

.t-btn-chrimson:hover {
    color: #062a4d;
    background-color: #50aab2;
    border-color: #50aab2;
}

.t-btn-xemchitietsp {
    font-size: 14px;
    font-weight: bold;
}

.t-bao-form-tinhtien form {
    padding: 20px 10px;
    background: #e8eeef;
}

.title-detail-product {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-info-product {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #f1f1f1;
}

.chitietsanpham img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.socials-share a {
    padding: 4px 30px;
    color: #fff;
    line-height: 2em;
    text-decoration: none;
    border-radius: 2px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 4px;
}

.bg-facebook {
    background: #3a5899;
}

.bg-google-plus {
    background: #db4437;
}

.bg-twitter {
    background: #00acee;
}

.gia {
    font-size: 18px;
}

.gia strong {
    color: #db4437;
}

.chitietsanpham ul {
    padding-left: 15px;
}

.tieude-danhmuc-sanpham {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

.right-bar .list-group-item {
    padding: 0px;
}

.right-bar .list-group-item a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: .75rem 1.25rem;
}

.right-bar .list-group-item a:hover {
    background-color: #d0df56;
}

.item-new-box a {
    color: #333;
    text-decoration: none;
}

.item-new-box a:hover {
    text-decoration: none;
}

.chitiet-tintuc img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

#navbarSupportedContent .nav-item>.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.t-bao-anh-slide {
    width: 445px;
    height: 500px;
    display: flex;
}

.t-anh-slide {
    width: 100%;
    display: flex;
    object-fit: scale-down;
}

.lSGallery a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
    transition: border-radius .12s linear 0s .35s linear 0s;
    height: 107.5px;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: 100% !important;
    max-width: 100%;
}

#popup-config .modal-body img {
    max-width: 100%;
    height: auto;
}

.t-card-danhmuctin a:hover {
    text-decoration: none;
}

.t-card-danhmuctin a {
    text-decoration: none;
}

.t-card-danhmuctin {
    width: 100%;
}

.t-card-danhmuctin h5 {
    color: #333;
    font-weight: bold;
}

.t-card-daily .t-bao-anhbia,
.t-card-danhmuctin .t-bao-noidung,
.t-card-danhmuctin .t-bao-anhbia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-card-danhmuctin .t-bao-noidung .card-body:hover {
    background-color: #d0df56;
}

.t-card-danhmuctin .t-bao-noidung .card-body {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, .125);
}

.t-card-daily .card-img,
.t-card-danhmuctin .card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
    max-height: 180px;
    object-fit: contain;
    vertical-align: middle;
}

.sub1 {
    font-size: 16px;
    font-weight: bold;
}

.sub2-daily {
    padding-left: 50px;
}

.sub2-daily a {
    display: block;
    color: #333;
    font-size: 14px;
}

.sub2-daily a:hover {
    text-decoration: none;
}

.sub2-daily:hover {
    background: rgb(0 123 255 / 50%);
}

.actives__ {
    background: rgb(0 123 255 / 50%);
}

.t-card-daily .t-btn-chrimson:hover {
    color: #fff;
}

.t-card-daily .card-body {
    padding: 1rem 0.5rem;
}

.sub-menu-top1 {
    position: relative;
}

.sub-menu-top2 {
    position: absolute;
    width: 300px;
    top: 69px;
    z-index: 999;
    background: #f9f9f9;
    display: none;
    list-style: none;
}

.sub-menu-top1:hover .sub-menu-top2 {
    display: block;
}

.t-bao-sanpham-danhmucsanpham img,
.t-card-tintuc-home img,
.t-card-sanpham-home img {
    width: 253px;
    height: 286px;
    object-fit: cover;
    max-width: 100%;
}

.t-bao-sanpham-danhmucsanpham h5,
.t-card-sanpham-home h5 {
    min-height: 60px;
}

.t-bao-sanpham-danhmucsanpham .t-masanpham,
.t-card-sanpham-home .t-masanpham {
    min-height: 45px;
}

.t-card-tintuc-home h5 {
    min-height: 80px;
}

.t-card-tintuc-home .t-mota-tintuc-home {
    min-height: 65px;
}

.t-card-tintuc-home a:hover {
    text-decoration: none;
}

#popup-config object {
    max-width: 100%;
}

.t-bao-title-danhsachdaily h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* 
#t-bao-slide-locsp .imageGallerysanpham li {
    height: auto;
}

#t-bao-slide-locsp .imageGallerysanpham li img {
    max-height: 100%;
} */

.topnumberone {
    padding-top: 20px;
}

.fixed {
    position: fixed;
    z-index: 999;
    padding-top: 0px;
}

.navbar-brand {
    padding-left: 10px;
}

.t-card-sanpham-home .t-masanpham {
    display: none;
}

.t-card-sanpham-home:hover .t-masanpham {
    display: block;
}

.t-card-sanpham-home:hover img {
    height: 225px;
}

.t-bao-social {
    position: fixed;
    top: 30%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 999999;
}

.icon {
    background: url(/client/asset/images/icon-desktop.png) no-repeat;
}

.icon-zalo {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-position-x: -126px;
    background-position-y: -19px;
    background-size: 1500px;
}

.icon-phone {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-position-x: -53px;
    background-position-y: -19px;
    background-size: 1500px;
}

.icon-facebook {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-position-x: -190px;
    background-position-y: -19px;
    background-size: 1500px;
}

.t-bao-social a {
    background: #dee2e6;
    margin-bottom: 2px;
}

.t-bao-social a:hover span {
    width: 50px;
    height: 50px;
}

.chitiet-tintuc object {
    max-width: 100%;
}

.t-bao-content-home p {
    width: 500px;
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.t-bao-content-home h1 {
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.t-bao-content-home h1 span {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-dathang {
    font-size: 40px;
    position: absolute;
    bottom: 0%;
    left: 43%;
}

.t-thongtin-lienhe .title,
.t-thongtin-dathang .t-thongtin-dathang .title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.t-thongtin-lienhe label,
.t-thongtin-dathang label {
    text-transform: uppercase;
    font-weight: bold;
}

.t-thongtin-lienhe .form-chrison,
.t-thongtin-dathang .form-chrison {
    color: #13171b;
    border-color: #d5e7ea;
    background-color: #d5e7ea;
    padding: .5em 1.4em;
}

.t-thongtin-lienhe .ep-height,
.t-thongtin-dathang .ep-height {
    height: 4.6em;
}

.input-rating {
    width: 100%;
    display: flex;
    padding: 10px 3px;
    margin-bottom: 10px;
    background: #fff;
    justify-content: space-between;
}

.fa-star {
    color: rgb(255, 152, 0);
    font-size: 23px;
}

.t-bao-sanpham-danhmucsanpham a:hover {
    text-decoration: none;
}

.post-relate li {
    list-style: none;
}

.t-footer .title {
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    font-weight: bold;
}

.t-footer ul li a {
    color: #fff;
}

.t-footer ul li {
    list-style: none;
}

.t-bao-title-danhsachdaily h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cover-content li {
    list-style: none !important;
}

#toastr {
    z-index: 9999999 !important;
}